:root {
  --blue: #009be0;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: white;
  color: #000000;
  width: 100%;
  height: 100%;
  font-size: 16px;
  overflow: hidden;
}

h1 {
  margin-left: 5px;
  color: var(--blue);
  text-transform: uppercase;
}
h1 > a {
  color: var(--blue);
  text-decoration: none;
}

/* styling the header */
.header {
  border-bottom: 1px solid #ffff;
  padding: 10px;
  background-color: white;
  -webkit-box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.15);
}

/* style the tab */
.tab {
  float: left;
  background-color: #009be0;
  width: 15%;
  height: 100%;
}

#dashboard,
#map,
#notif,
#admin,
#users,
#excom {
  margin-top: 5px;
  background-color: white;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  font-size: 14px;
  display: block;
  background-color: inherit;
  color: white;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #0088cd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #0088cd;
}

/* Style the tab content */
.tabcontent {
  background-color: #ccc;
  overflow: hidden;
  float: left;
  padding: 1em;
  border: 1px solid #ccc;
  width: 85%;
  border: none;
  height: 100px;
}

.fa-search {
  margin-right: 5px;
  padding: 10px;
  font-size: 20px;
  color: #0088cd;
  overflow: hidden;
  float: right;
  cursor: pointer;
}
