*{
  box-sizing: border-box;
  margin: 0;
}

body{
  background-color: #f5f5f5;
  color: #000000;
  width: 100%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-family: ;
  text-transform: uppercase;
}

/* styling the header */
.header{
  border-bottom: 1px solid #ffff;
  padding: 10px;
  background-color: #9dbff1;
}

/* style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width:15%;
  height: 100%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 85%;
  border: none;
  height: 100px;
}